{% extends 'main_base.html'%}
{% load static from staticfiles %}

{% block content %}
    <!-- <div class="text-center">
        <img class="itcsi" src="{% static 'dist/img/itcsi.png' %}" alt="User Image">
        <h4><strong>IT CORE Solutions Inc.</strong></h4>
    </div> -->

    <div class="text-center">
        <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-lg active" role="button">Sign in to start your transaction</a>
    </div>
    <!-- <div class="lockscreen-footer text-center">
            &copy; Copyright 2018 <b><a href="https://adminlte.io" class="text-black">ITCoreSolutions</a></b><br>
        All rights reserved
    </div> -->
{% endblock %}