{% extends 'orderstation_base.html'%}
{% load static from staticfiles %}

{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- <section class="content-header text-center">
            <h1><strong>DINE-IN </strong></h1>
            <h1><span class="label label-success"><strong>Table {{tables}}</strong></span></h1>
        </section> -->

        <section class="content">
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger text-center">*{{ message }}</p>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-md-6">
                        <h3>
                            <strong>Ref #:</strong>
                            <strong class="text-primary"> {{ totalTempOrderSummaries }}</strong>
                        </h3>
                    </div>
                    <div class="col-md-6">
                        <h3><strong>DINE-IN: </strong><span class="label label-success"><strong>Table {{tables}}</strong></span></h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-md-3 pull-right">
                        <!-- <form class="site-form" action="{% url 'orderstations:canceldineorder' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="waiterCode" value="{{waiters.waiterCode}}">
                            <input type="hidden" name="waiterName" value="{{waiters.waiterName}}">
                            <input type="hidden" name="tableNo" value="{{tables}}">
                            <input type="hidden" name="refNo" value="{{ totalTempOrderSummaries }}">
                            <button type="submit" class="btn btn-danger btn-lg btn-block">CANCEL</button>
                        </form> -->
                        <a href="#modal-cancelorder" class="btn btn-danger btn-lg btn-block" data-toggle="modal">CANCEL</a>
                    </div>
                    <div class="col-md-3 pull-right">
                        <form class="site-form" action="{% url 'orderstations:savedineorder' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="waiterCode" value="{{waiters.waiterCode}}">
                            <input type="hidden" name="waiterName" value="{{waiters.waiterName}}">
                            <input type="hidden" name="tableNo" value="{{tables}}">
                            <input type="hidden" name="refNo" value="{{ totalTempOrderSummaries }}">
                            <button type="submit" class="save btn btn-success btn-lg btn-block">SAVE</button>
                        </form>
                    </div>
                    <div class="col-md-3 pull-right">
                        {% static "" as baseUrl %}
                        <iframe 
                            src="{{ baseUrl }}Orders/Order_{{getlast}}.pdf" id="myFrame" style="display:none">
                        </iframe>
                        <button type="button" onclick="print()" class="btn btn-primary btn-lg btn-block">PRINT ORDERS</button>
                    </div>
                    <div class="col-md-3 pull-right">
                        <a href="{% url 'orderstations:orderstation' %}" class="btn btn-warning btn-lg btn-block">BACK</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="box box-success" style="height: 680px;">
                        <div class="box-header with-border">
                            <h3 class="box-title">Orders</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 200px">Particulars</th>
                                        <th style="width: 80px">Qty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if tempOrderDetailpages %}
                                        {% for tempOrderDetailpage in tempOrderDetailpages %}
                                            <tr>
                                                <td>{{ tempOrderDetailpage.description }}</td>
                                                <td>{{ tempOrderDetailpage.qtySold | floatformat }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td>no orders</td>
                                            <td>no orders</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        
                        <div class="box-footer clearfix">
                            {% if tempOrderDetailpages.has_other_pages %}
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    {% if tempOrderDetailpages.has_previous %}
                                        <li><a href="?page={{ tempOrderDetailpages.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in tempOrderDetailpages.paginator.page_range %}
                                        {% if tempOrderDetailpages.number == i %}
                                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if tempOrderDetailpages.has_next %}
                                        <li><a href="?page={{ tempOrderDetailpages.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
                <div class="col-lg-9">
                    <div class="box box-success" style="height: 680px;">
                        <div class="box-header with-border">
                            <h3 class="box-title">Menus</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="height: 600px; overflow-y: scroll;">
                            {% for category in categories %}
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{category.categoryName}}</div>
                                <div class="panel-body">
                                    {% for menu in menus %}
                                        {% if menu.menuCategory == category.categoryName %}
                                        <div class="col-sm-3 margin-bottom">
                                            <!-- <a href="#modal-maindish" class="main btn btn-primary btn-block btn-lg" data-toggle="modal" data-id="{{ menu.FoodMenu }}"><b>{{ menu.foodMenu }}</b></a> -->
                                            <form class="site-form" action="{% url 'orderstations:adddineorder' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="waiterCode" value="{{waiters.waiterCode}}">
                                                <input type="hidden" name="waiterName" value="{{waiters.waiterName}}">
                                                <input type="hidden" name="tableNo" value="{{tables}}">
                                                <input type="hidden" name="refNo" value="{{ totalTempOrderSummaries }}">
                                                <input type="hidden" name="prodCode" value="{{ menu.foodCode }}">
                                                <input type="hidden" name="foodDesc" value="{{ menu.foodMenu }}">
                                                <input type="hidden" name="foodSellPrice" value="{{ menu.price }}">
                                                <button type="submit" class="btn btn-app bg-green btn-block btn-lg btn-block text-center text-bold">{{ menu.foodMenu }}</button>
                                            </form>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="modal-maindish">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    </div>
                    <form class="site-form" action="{% url 'restaurants:editfoodmenu' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                                <div class="box-body">
                                    <input type="hidden" name="id" class="form-control" id="id" value="" readonly>
                                    <input type="hidden" name="ref" class="form-control" id="ref" value="" readonly>
                                    <input type="hidden" name="tableno" class="form-control" value="{{tables}}" readonly>
                                    <div class="form-group">
                                        <label for="qty">Qty</label>
                                        <input type="text" name="qty" class="form-control">
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Submit"></input>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="modal fade" id="modal-cancelorder">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="site-form" action="{% url 'orderstations:canceldineorder' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                                <div class="box-body">
                                    <div class="text-center text-bold">
                                        <img class="cash-register" src="{% static 'dist/img/warning.png' %}" alt="User Image">
                                        <br>
                                        <h1>Are you sure ?</h1>
                                        <br>
                                        <h4 class="text-center text-muted">You want to CANCEL this ORDER?</h4>
                                    </div>
                                    
                                    <input type="hidden" name="waiterCode" value="{{waiters.waiterCode}}">
                                    <input type="hidden" name="waiterName" value="{{waiters.waiterName}}">
                                    <input type="hidden" name="tableNo" value="{{tables}}">
                                    <input type="hidden" name="refNo" value="{{ totalTempOrderSummaries }}">
                                </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-default btn-lg btn-block" data-dismiss="modal">No</button>
                            </div>
                            <div class="col-xs-6">
                                <input type="submit" class="btn btn-danger btn-lg btn-block" value="Yes, Cancel it!"></input>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>
{% endblock %}
