{% extends 'restaurant_base.html'%}
{% load static from staticfiles %}

{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <section class="content-header">
            <h1>
                Dine
            </h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'restaurants:home' %}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active"><a href="#">Dine</a></li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-5">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Bordered Table</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th>PRODUCT</th>
                                    <th>PRICE</th>
                                    <th>QTY</th>
                                    <th style="width: 40px">TOTAL</th>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>Update software</td>
                                    <td>
                                    <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                    </div>
                                    </td>
                                    <td><span class="badge bg-red">55%</span></td>
                                </tr>
                            </table>
                            <br>
                            <hr>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    
                    <div class="box">
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width:50%">Subtotal:</th>
                                    <td>₱</td>
                                </tr>
                                <tr>
                                    <th>Tax (12%)</th>
                                    <td>₱</td>
                                </tr>
                                <tr>
                                    <th>Discount:</th>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <th>Total:</th>
                                    <td class="text-success"><strong>₱</strong></td>
                                </tr>
                            </table>
                            <br>
                            <hr>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- ======================================================================================== -->
                <div class="col-md-7">
                    <div class="box">
                            <ul class="nav nav-justified">
                                <!-- {% for category in categories %}
                                    <li><a href="#{{ category.description }}" data-toggle="tab">{{ category.description }}</a></li>
                                {% endfor %} -->
                                <li><a href="{% url 'restaurants:main' %}" class="btn btn-default">Main Dish</a></li>
                                <li><a href="{% url 'restaurants:beverage' %}" class="btn btn-default">Beverages</a></li>
                                <li><a href="{% url 'restaurants:salad' %}" class="btn btn-default">Salads</a></li>
                                <li><a href="{% url 'restaurants:appetizer' %}" class="btn btn-default">Appetizers</a></li>
                            </ul>
                        <div class="box-body">
                            {% block food_content %}

                            {% endblock %}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}