{% extends 'restaurant_base.html'%}
{% load static from staticfiles %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        <section class="content-header text-center">
            <img class="itcsi" src="{% static 'dist/img/restaurantlogo.png' %}" alt="User Image">
            <h1><strong>FOOD CATEGORIES</strong></h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-success" style="height: 550px;">
                        <div class="box-header with-border">
                            <h3 class="box-title">List of Food Categories</h3>
                            <span><a href="#modal-addfoodmenu" class="btn btn-primary btn-sm pull-right" data-toggle="modal"><i class="fa fa-fw fa fa-plus"></i> Add Menu</a></span>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Menu Category</th>
                                        <th style="width: 300px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for getcategorylist in getcategorylists %}
                                    <tr>
                                        <td>{{ getcategorylist.categoryName }}</td>
                                        <td>
                                            <a href="#modal-edittable" class="edittable btn btn-info btn-sm pull-left" data-toggle="modal" data-id="{{ getcategorylist.id }}" data-name="{{ getcategorylist.categoryName }}"><i class="fa fa-fw fa-pencil"></i> Edit Category Name</a>
                                            &nbsp;
                                            <a href="#modal-deletetable" class="deletetable btn btn-danger btn-sm" data-toggle="modal" data-id="{{ getcategorylist.id }}" data-name="{{ getcategorylist.categoryName }}"><i class="fa fa-fw fa-trash"></i> Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table> 
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="modal-addfoodmenu">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                        <h4>Add Food Category</h4>
                    </div>
                    <form class="site-form" action="{% url 'restaurants:addfoodcategorylist' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="menu">Food Category</label>
                                        <input type="text" name="category" class="form-control" placeholder="Input Food Category Name..." autofocus>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Submit"></input>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="modal fade" id="modal-edittable">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                        <h4>Edit Food Category Name</h4>
                    </div>
                    <form class="site-form" action="{% url 'restaurants:editfoodcategorylist' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                                <div class="box-body">
                                    <div class="form-group">
                                        <input type="hidden" name="idno" id="idno">
                                        <label for="tableno">Food Category</label>
                                        <input type="text" name="category" id="tableno" class="form-control" autofocus>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Submit"></input>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="modal fade" id="modal-deletetable">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                        <h4>Delete Food Category</h4>
                    </div>
                    <form class="site-form form-horizontal" action="{% url 'restaurants:deletefoodcategorylist' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                                <div class="box-body">
                                    <div class="form-group">
                                        <input type="hidden" name="idno" id="idno">
                                        <h3 class="text-center">Are you sure you want to DELETE this Food Menu?</h3>
                                        <label for="tableno" class="col-sm-3 control-label">Food Category</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" name="tableno" id="tableno" disabled>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Submit"></input>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

    </div>
</div>
{% endblock %}

