{% extends 'restaurant_base.html'%}
{% load static from staticfiles %}

{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <section class="content-header text-center">
            <h1>
                CHOOSE A STORE
            </h1>
        </section>

        <section class="content">
            <div class="row">
                {% for branch in branches %}
                    <div class="col-md-3">
            
                        <!-- Profile Image -->
                        <div class="box box-primary">
                            <div class="box-body box-profile">
                                <img class="profile-user-img img-responsive img-circle" src="{% static 'dist/img/store.png' %}" alt="User profile picture">
                
                                <h3 class="profile-username text-center">{{branch.branchName}}</h3>
                
                                <p class="text-muted text-center">{{branch.branchAddress}}</p>
                                {% if checks == None %}
                                    <p class="text-center"><span class="badge bg-red">close</span></p>
                                    <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-setCashBegin"><b>SET CASH BEGIN</b></a>
                                {% else %}
                                    <p class="text-center"><span class="badge bg-green">open</span></p>
                                    <a href="{% url 'restaurants:dine' %}" class="btn btn-primary btn-block"><b>PROCEED</b></a>
                                {% endif %}

                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                {% endfor %}
            </div>
        </section>

        <div class="modal fade" id="modal-setCashBegin">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Set Cash Begin of the Day</h4>
                    </div>
                    <form class="site-form" action="{% url 'restaurants:dine' %}" method="post"><!-- {% url 'accounts:login' %} -->
                    {% csrf_token %}
                        <div class="modal-body">
                            {% for branch in branches %}
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="datenow">Date</label>
                                        <input type="text" class="form-control" id="datenow" value="{{ time|date:"SHORT_DATE_FORMAT" }}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="branchcode">Branch Code</label>
                                        <input name ="branchcode" type="text" class="form-control" id="branchcode" value="{{branch.branchCode}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="branchname">Branch Name</label>
                                        <input name ="branchname" type="text" class="form-control" id="branchname" value="{{branch.branchName}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="cashbegin">Cash Beginning Amount</label>
                                        <!-- <input type="text" class="form-control" id="cashbegin" placeholder="Enter Cash Beginning Amount"> -->
                                        <div class="input-group">
                                        <span class="input-group-addon">₱</span>
                                        <input name ="cashbegin" id="cashbegin" type="number" class="form-control" placeholder="Enter Cash Beginning Amount">
                                        <span class="input-group-addon">.00</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Submit"></input>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

    </div>
</div>
{% endblock %}