{% extends 'restaurant_base.html'%}
{% load static from staticfiles %}

{% block content %}
<div class="content-wrapper">
    {% include 'includes/_nav_restaurant.html' %}
    <div class="container-fluid">
        <section class="content-header text-center no-margin">
            <h1 class="no-margin"><strong>DINE IN</strong></h1>
            <!-- <a href="{% url 'restaurants:sample' %}" type="button" class="btn btn-warning btn-lg btn-block margin-bottom">sample</a> -->
        </section>
        <section class="content">
            <div class="row">
                {% for table in tables %}
                    <div class="col-sm-4 col-md-2">
                        <div class="thumbnail">
                            <div class="caption text-center">
                                <h3 class="no-padding no-margin"><strong>{{ table.tableNo }}</strong></h3>
                            </div>
                            {% if table.tableStatus == 'Available' %}
                                <a href="{% url 'restaurants:dine' tableNo=table.tableNo %}"><img src="{% static 'dist/img/table.png' %}" alt="..."></a>
                            {% endif %}
                            {% if table.tableStatus == 'Occupied' %}
                                <a href="{% url 'restaurants:billing' tableNo=table.tableNo %}"><img src="{% static 'dist/img/table_occupied.png' %}" alt="..."></a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
{% endblock %}

