{% extends 'restaurant_base.html'%}
{% load static from staticfiles %}

{% block content %}
<div class="content-wrapper">
    <!-- {% include 'includes/_nav_restaurant.html' %} -->
    <div class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible no-margin" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>{{ message }}</h4>
                </div>
            {% endfor %}
        {% endif %}
        <section class="content-header text-center no-margin">
            <h1 class="no-margin"><strong>TAKEOUT</strong></h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-md-4">
                        <h3>
                            <strong>Order #:</strong>
                            <strong class="text-danger">{{ totalOrderSummaries }}</strong>
                        </h3>
                    </div>
                    <div class="col-md-4">
                        <h3>
                            <strong>Trans ID:</strong>
                            <strong class="text-success"> {{ getSalesTransactionSummary }}</strong>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="box box-success" style="height: 700px;">
                        <div class="box-header with-border">
                            <h3 class="box-title">Actions</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-lg-12">
                                <a href="#modal-payment" class="payment btn btn-success btn-lg btn-block margin-bottom" data-toggle="modal"data-name="{{ getSalesTransactionSummary }}" data-id="{{ totalOrderSummaries }}">PAYMENT</a>
                            </div>
                            <div class="col-sm-12">
                                <a href="{% url 'restaurants:void' %}" type="button" class="btn btn-warning btn-lg btn-block margin-bottom">VOID</a>
                            </div>
                            <div class="col-sm-12">
                                <form class="site-form" action="{% url 'restaurants:takeouttransvoidfoodmenu' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="refNo" value="{{ totalOrderSummaries }}">
                                    <input type="hidden" name="transCode" value="{{ getSalesTransactionSummary }}">
                                    <button type="submit" class="btn btn-danger btn-lg btn-block margin-bottom">TRANSACTION VOID</button>
                                </form>
                            </div>
                            <div class="col-sm-12">
                                <form class="site-form" action="{% url 'restaurants:printtakeout' %}" method="post" target="_blank">
                                    {% csrf_token %}
                                    <input type="hidden" name="refNo" value="{{ totalOrderSummaries }}">
                                    <button type="submit" class="btn btn-app btn-block no-margin bg-blue">PRINT ORDERS TO KITCHEN</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box box-success" style="height: 550px;">
                        <div class="box-header with-border">
                            <h3 class="box-title">Orders</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 200px">Particulars</th>
                                        <th style="width: 80px">Unit Price</th>
                                        <th>Qty</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if tempOrderDetailpages %}
                                        {% for tempOrderDetailpage in tempOrderDetailpages %}
                                            <tr>
                                                <td>{{ tempOrderDetailpage.description }}</td>
                                                <td>{{ tempOrderDetailpage.sellingPrice }}</td>
                                                <td>{{ tempOrderDetailpage.qtySold | floatformat }}</td>
                                                <td>{{ tempOrderDetailpage.totalAmount }}</td>
                                                <td>
                                                    <div>
                                                        <!-- <form class="site-form" action="{% url 'restaurants:cancelfoodmenu' %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="tableNo" value="{{tempOrderDetailpage.tableNo}}">
                                                            <input type="hidden" name="refNo" value="{{ tempOrderDetailpage.referenceNo }}">
                                                            <input type="hidden" name="prodCode" value="{{ tempOrderDetailpage.productCode }}">
                                                            <button type="submit" class="btn btn-info btn-xs pull-left"><i class="fa fa-fw fa fa-pencil"></i></button>
                                                        </form> -->
                                                        <a href="#modal-maindish" class="main btn btn-info btn-xs pull-left" data-toggle="modal"data-name="{{ tempOrderDetailpage.orderNo }}" data-id="{{tempOrderDetailpage.id}}"><i class="fa fa-fw fa fa-pencil"></i></a>
                                                    </div>
                                                    <div>
                                                        <form class="site-form" action="{% url 'restaurants:canceltakeoutfoodmenu' %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="idno" value="{{ tempOrderDetailpage.id }}">
                                                            <!-- <input type="hidden" name="orderNo" value="{{ tempOrderDetailpage.orderNo }}">
                                                            <input type="hidden" name="transID" value="{{ tempOrderDetailpage.transactionCode }}">
                                                            <input type="hidden" name="prodCode" value="{{ tempOrderDetailpage.productCode }}"> -->
                                                            <button type="submit" class="btn btn-danger btn-xs pull-right"><i class="fa fa-fw fa fa-times"></i></button>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td>no orders</td>
                                            <td>no orders</td>
                                            <td>no orders</td>
                                            <td>no orders</td>
                                            <td>no orders</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        
                        <div class="box-footer clearfix">
                            {% if tempOrderDetailpages.has_other_pages %}
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    {% if tempOrderDetailpages.has_previous %}
                                        <li><a href="?page={{ tempOrderDetailpages.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in tempOrderDetailpages.paginator.page_range %}
                                        {% if tempOrderDetailpages.number == i %}
                                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if tempOrderDetailpages.has_next %}
                                        <li><a href="?page={{ tempOrderDetailpages.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <!-- /.box -->
                    <div class="col-lg-12">
                        <div class="col-md-6">
                            <h3 class="pull-left">
                                <strong>Total Items: {{ totalitems }}</strong>
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <h3 class="pull-right">
                                <strong>Total Amount: {{totalamount}}</strong>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-md-6">
                            <h4>VAT Sale: {{ totalVATsale | floatformat:2 }}</h4>
                        </div>
                        <div class="col-md-6">
                            <h4 class="pull-right">VAT Exempt Sale: 0.00</h4>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-md-6">
                            <h4>VAT: {{ totalVAT | floatformat:2 }}</h4>
                        </div>
                    </div>
                    <!-- <div class="col-lg-12">
                        <div class="col-sm-6">
                            <a href="" class="payment btn btn-danger btn-lg btn-block margin-bottom">CANCEL</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="#modal-payment" class="payment btn btn-primary btn-lg btn-block margin-bottom" data-toggle="modal"data-name="{{ getSalesTransactionSummary }}" data-id="{{ totalOrderSummaries }}">PAYMENT</a>
                        </div>
                    </div> -->
                    <div class="col-lg-12">
                        <form class="site-form" action="{% url 'restaurants:pdf' %}" method="post" target="_blank">
                            {% csrf_token %}
                            <input type="hidden" name="orderNo" value="{{totalOrderSummaries}}">
                            <input type="hidden" name="transID" value="{{ getSalesTransactionSummary }}">
                            <!-- <button type="submit" class="btn btn-primary btn-lg btn-block margin-bottom">GENERATE BILL</button> -->
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box box-success" style="height: 700px;">
                        <div class="box-header with-border">
                            <h3 class="box-title">Menus</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="height: 600px; overflow-y: scroll;">
                            <!-- <div class="panel panel-primary">
                                <div class="panel-heading">Main Dish</div>
                                <div class="panel-body">
                                    {% for menu in menus %}
                                        {% if menu.menuCategory == 'MAIN DISH' %}
                                        <div class="col-sm-3 margin-bottom">
                                            <a href="#modal-maindish" class="main btn btn-primary btn-block btn-lg" data-toggle="modal" data-id="{{ menu.FoodMenu }}"><b>{{ menu.foodMenu }}</b></a>
                                            <form class="site-form" action="{% url 'restaurants:takeoutfoodmenu' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="orderNo" value="{{totalOrderSummaries}}">
                                                <input type="hidden" name="transID" value="{{ getSalesTransactionSummary }}">
                                                <input type="hidden" name="prodCode" value="{{ menu.foodCode }}">
                                                <input type="hidden" name="foodDesc" value="{{ menu.foodMenu }}">
                                                <input type="hidden" name="foodSellPrice" value="{{ menu.price }}">
                                                <button type="submit" class="btn btn-app bg-green btn-block btn-lg btn-block text-center text-bold">{{ menu.foodMenu }}</button>
                                            </form>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">Beverages</div>
                                <div class="panel-body">
                                    {% for menu in menus %}
                                        {% if menu.menuCategory == 'BEVERAGES' %}
                                        <div class="col-sm-3 margin-bottom">
                                            <a href="#" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#modal-beverages"><b>{{ menu.foodMenu }}</b></a>
                                            <form class="site-form" action="{% url 'restaurants:takeoutfoodmenu' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="orderNo" value="{{totalOrderSummaries}}">
                                                <input type="hidden" name="transID" value="{{ getSalesTransactionSummary }}">
                                                <input type="hidden" name="prodCode" value="{{ menu.foodCode }}">
                                                <input type="hidden" name="foodDesc" value="{{ menu.foodMenu }}">
                                                <input type="hidden" name="foodSellPrice" value="{{ menu.price }}">
                                                <button type="submit" class="btn btn-app bg-green btn-block btn-lg btn-block text-center text-bold">{{ menu.foodMenu }}</button>
                                            </form>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">Soups</div>
                                <div class="panel-body">
                                    {% for menu in menus %}
                                        {% if menu.menuCategory == 'SOUPS' %}
                                        <div class="col-sm-3 margin-bottom">
                                            <a href="#" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#modal-soups"><b>{{ menu.foodMenu }}</b></a>
                                            <form class="site-form" action="{% url 'restaurants:takeoutfoodmenu' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="orderNo" value="{{totalOrderSummaries}}">
                                                <input type="hidden" name="transID" value="{{ getSalesTransactionSummary }}">
                                                <input type="hidden" name="prodCode" value="{{ menu.foodCode }}">
                                                <input type="hidden" name="foodDesc" value="{{ menu.foodMenu }}">
                                                <input type="hidden" name="foodSellPrice" value="{{ menu.price }}">
                                                <button type="submit" class="btn btn-app bg-green btn-block btn-lg btn-block text-center text-bold">{{ menu.foodMenu }}</button>
                                            </form>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div> -->
                            <!--  -->
                            {% for category in categories %}
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{category.categoryName}}</div>
                                <div class="panel-body">
                                    {% for menu in menus %}
                                        {% if menu.menuCategory == category.categoryName %}
                                        <div class="col-sm-3 margin-bottom">
                                            <!-- <a href="#modal-maindish" class="main btn btn-primary btn-block btn-lg" data-toggle="modal" data-id="{{ menu.FoodMenu }}"><b>{{ menu.foodMenu }}</b></a> -->
                                            <form class="site-form" action="{% url 'restaurants:takeoutfoodmenu' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="orderNo" value="{{totalOrderSummaries}}">
                                                <input type="hidden" name="transID" value="{{ getSalesTransactionSummary }}">
                                                <input type="hidden" name="prodCode" value="{{ menu.foodCode }}">
                                                <input type="hidden" name="foodDesc" value="{{ menu.foodMenu }}">
                                                <input type="hidden" name="foodSellPrice" value="{{ menu.price }}">
                                                <button type="submit" class="btn btn-app bg-green btn-block btn-lg btn-block text-center text-bold">{{ menu.foodMenu }}</button>
                                            </form>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <div class="modal fade" id="modal-maindish">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    </div>
                    <form class="site-form" action="{% url 'restaurants:edittakeoutfoodmenu' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                                <div class="box-body">
                                    <input type="hidden" name="id" class="form-control" id="id" value="" readonly>
                                    <input type="hidden" name="ref" class="form-control" id="ref" value="" readonly>
                                    <div class="form-group">
                                        <label for="qty">Qty</label>
                                        <input type="text" name="qty" class="form-control">
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Submit"></input>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    
        <div class="modal fade" id="modal-payment">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    </div>
                    <form class="site-form" action="{% url 'restaurants:paytakeoutfoodmenu' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="box-body">
                                <input type="hidden" name="orderNo" class="form-control" id="orderNo" value="" readonly>
                                <input type="hidden" name="transID" class="form-control" id="transID" value="" readonly>
                                <div class="form-group">
                                    <label for="amountpayable">Amount Payable:</label>
                                    <input type="text" name="amountpayable" class="form-control" value="{{totalamount}}" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="amounttender">Amount Tender:</label>
                                    <input type="number" class="form-control" name="amounttender" id="amounttender" placeholder="Amount Tender" value="0.00" autofocus>
                                    {% if messages %}
                                            {% for message in messages %}
                                                <p class="text-danger">*{{ message }}</p>
                                            {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <div class="checkbox text-bold">
                                        <label>
                                            <input type="checkbox">
                                            Add Discount
                                        </label>
                                    </div>
                                </div>
                                <div class="nav-discount nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#senior" data-toggle="tab">Senior Citizen</a></li>
                                        <li><a href="#others" data-toggle="tab">Others</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="active tab-pane" id="senior">
                                            <div class="form-group">
                                                <label for="controlno">Control Number:</label>
                                                <input type="number" class="form-control" name="controlno" id="controlno" placeholder="Please input Control Number..." autofocus>
                                            </div>
                                            <div class="form-group">
                                                <label for="seniorname">Name:</label>
                                                <input type="text" class="form-control" name="seniorname" id="seniorname" placeholder="Please input Senior Citizen Name..." autofocus>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="others">
                                            <div class="form-group">
                                                <label for="othersdiscount">Amount:</label>
                                                <input type="number" class="form-control" name="othersdiscount" id="othersdiscount" placeholder="Please input Amount..." autofocus>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Submit"></input>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>
{% endblock %}
