{% extends 'restaurant_base.html'%}
{% load static from staticfiles %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        <section class="content-header text-center">
            <img class="itcsi" src="{% static 'dist/img/restaurantlogo.png' %}" alt="User Image">
            <h1><strong>SALES</strong></h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">Void Transaction</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Order #</th>
                                        <th>Description</th>
                                        <th>Total Items</th>
                                        <th>Total Amount</th>
                                        <th>Prepared By</th>
                                        <th>DateTime Sold</th>
                                        <th style="width: 50px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for getvoidlist in getvoidlists %}
                                    <tr>
                                        <td>{{ getvoidlist.orderNo }}</td>
                                        <td>{{ getvoidlist.description }}</td>
                                        <td>{{ getvoidlist.qtySold }}</td>
                                        <td>{{ getvoidlist.totalAmount }}</td>
                                        <td>{{ getvoidlist.processedBy }}</td>
                                        <td>{{ getvoidlist.date_created | date:"d-M-Y D H:i:s A"}}</td>
                                        <td>
                                            <div>
                                                <form class="site-form" action="{% url 'restaurants:voidmenu' %}" method="post">
                                                {% csrf_token %}
                                                    <input type="hidden" name="orderNo" value="{{ getvoidlist.orderNo }}">
                                                    <input type="hidden" name="idno" value="{{ getvoidlist.id }}">
                                                    <button type="submit" class="btn btn-warning btn-sm">VOID</button>
                                                </form>
                                            </div>
                                            <!-- <button type="button" class="btn btn-warning btn-xs pull-left"><i class="fa fa-fw fa-ticket"></i> PRINT RECEIPT</button>
                                            <button type="button" class="btn btn-danger btn-xs pull-right"><i class="fa fa-fw fa-sticky-note"></i> PRINT BILL</button> -->
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
