<ul class="nav nav-tabs nav-justified" style="display: none;">
    <li role="presentation"><a href="{% url 'orderstations:orderdine' %}"><i class="fa fa-fw fa fa-inbox"></i> DINE IN</a></li>
    <li role="presentation"><a href="#modal-takeorder" class="takeorder" data-toggle="modal"></i> TAKE OUT</a></li>
</ul>
        
<div class="modal fade" id="modal-takeorder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center text-bold">ORDER STATION</h3>
            </div>
            <form class="site-form" action="{% url 'orderstations:checkwaitertakeout' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                        <div class="box-body">
                                <div id='calc-contain'>
                                            <input type="password" name="answer" />
                                            <br>
                                            
                                            <input type="button" value=" 1 " onclick="answer.value += '1'" />
                                            <input type="button" value=" 2 " onclick="answer.value += '2'" />
                                            <input type="button" value=" 3 " onclick="answer.value += '3'" />
                    

                                            <input type="button" value=" 4 " onclick="answer.value += '4'" />
                                            <input type="button" value=" 5 " onclick="answer.value += '5'" />
                                            <input type="button" value=" 6 " onclick="answer.value += '6'" />
                    

                                            <input type="button" value=" 7 " onclick="answer.value += '7'" />
                                            <input type="button" value=" 8 " onclick="answer.value += '8'" />
                                            <input type="button" value=" 9 " onclick="answer.value += '9'" />
                    

                                            <input type="button" value=" clear " onclick="answer.value = ''" />
                                            <input type="button" value=" 0 " onclick="answer.value += '0'" />
                                            <input type="submit" class="submit" value="Submit"></input>
                                            </br>
                                
                                        <!-- <div id="agh">
                                            <p>Adrian Gheorghe Calc
                                        </div> -->
                                        </div>
                        </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Submit"></input>
                </div> -->
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->